<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:if="${closed}" th:utext="${closed}"
     style="color: red">
</div>
<div>
    <h th:text="${question.question}"></h>

    <div th:if="variantOne != null">
        <h th:if="variantOne != null" text="First variant voting : "></h>
        <a th:href="${'/add-like/add/' + variantOne.id}"
           th:text="${variantOne.variant}"></a>
    </div>
    <div th:if="variantTwo != null">
        <h th:if="variantTwo != null" text="First variant voting : "></h>
        <a th:href="${'/add-like/add/' + variantTwo.id}"
           th:text="${variantTwo.variant}"></a>
    </div>
    <div th:if="variantTree != null">
        <h th:if="variantTree != null" text="First variant voting : "></h>
        <a th:href="${'/add-like/add/' + variantTree.id}"
           th:text="${variantTree.variant}"></a>
    </div>
    <div th:if="variantFour != null">
        <h th:if="variantFour != null" text="First variant voting : "></h>
        <a th:href="${'/add-like/add/' + variantFour.id}"
           th:text="${variantFour.variant}"></a>
    </div>
    <div th:if="variantFive != null">
        <h th:if="variantFive != null" text="First variant voting : "></h>
        <a th:href="${'/add-like/add/' + variantFive.id}"
           th:text="${variantFive.variant}"></a>
    </div>
</div>
</body>
</html>