<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h th:text="${question.question}"></h>
    <a th:if="variantOne != null" th:href="@{/add-likes/variant/(${variantOne.id})}"
       th:text="${variantOne.variant}"></a>
    <a th:if="variantTwo != null" th:href="@{/add-likes/variant/(${variantTwo.id})}"
       th:text="${variantTwo.variant}"></a>
    <a th:if="variantTree != null" th:href="@{/add-likes/variant/(${variantTree.id})}"
       th:text="${variantTree.variant}"></a>
    <a th:if="variantFour != null" th:href="@{/add-likes/variant/(${variantFour.id})}"
       th:text="${variantFour.variant}"></a>
    <a th:if="variantFive != null" th:href="@{/add-likes/variant/(${variantFive.id})}"
       th:text="${variantFive.peopleLike} + ${variantFive.variant}"></a>
</div>
<div th:if="${closed}" th:utext="${closed}"
     style="color: red">
</div>
</body>
</html>