<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    <a th:href="${'/info/' + question.id}">Voting info</a>
<div th:if="${closed}" th:utext="${closed}"
     style="color: red">
</div>
</p>
<p>
    Voting name:
    <h th:text="${question.question}"></h>
</p>
<div>
    Variants for voting:
    <p>
        <a th:if="${variantOne.variant} != null" th:href="${'/add-like/add/' + variantOne.id}"
           th:text="${variantOne.variant}"></a>
    </p>
    <p>
        <a th:if="${variantTwo.variant} != null" th:href="${'/add-like/add/' + variantTwo.id}"
           th:text="${variantTwo.variant}"></a>
    </p>
    <p>
        <a th:if="${variantTree.variant} != null" th:href="${'/add-like/add/' + variantTree.id}"
           th:text="${variantTree.variant}"></a>
    </p>
    <p>
        <a th:if="${variantFour.variant} != null" th:href="${'/add-like/add/' + variantFour.id}"
           th:text="${variantFour.variant}"></a>
    </p>
    <p>
        <a th:if="${variantFive.variant} != null" th:href="${'/add-like/add/' + variantFive.id}"
           th:text="${variantFive.variant}"></a>
    </p>
</div>

</body>
</html>