<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form id="myform" th:action="@{/}" method="post" th:object="${allSaveDto}">
        <label>Enter you voting :
            <input type="text" th:field="*{questionName}">
        </label>
        <label>Enter variant voting :
            <input type="text" th:field="*{variantsName}">
        </label>
        <label>Enter variant voting :
            <input type="text" th:field="*{variantsName}">
        </label>
        <label>Enter variant voting :
            <input type="text" th:field="*{variantsName}">
        </label>
        <label>Enter variant voting :
            <input type="text" th:field="*{variantsName}">
        </label>
        <label>Enter variant voting :
            <input type="text" th:field="*{variantsName}">
        </label>
        <button type="submit">Save</button>
        <div th:if="${uniqueId}" th:utext="${uniqueId}"
             style="color: green">

        </div>
        <div th:if="${addLike}" th:utext="${addLike}"
             style="color: green">

        </div>
    </form>
</div>
</body>
</html>