<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Info vote</title>
</head>
<body>
Go to <a th:href="${'/add-likes/' + byId.id}">Voting</a>
<p>
    Name voting :
    <h th:text="*{byId.question}"></h>
</p>
<p>
    Voting status :
    <h th:text="*{byId.status}"></h>
</p>
<p>
<ul th:if="${variants.variant != null}" th:each="variants: ${variants}"
    th:text="${variants.variant} + ' : ' +  ${variants.peopleLike}">
</ul>
</p>
</body>
</html>